<form action="" method="post">

  <h2>Login</h2>

  <input type="text" name="username" placeholder="Username" />
  <input type="password" name="password" placeholder="Password" />
  <button class="btn btn-submit" type="submit">Login</button>

</form>

{{#if error}}
  <h2 class="error message">{{error}} 😢</h2>
{{/if}}