<div class="img-container">

  <a href="/">
    <img
      src="https://images.unsplash.com/photo-1641378588520-f30c0c36ef84?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=765&q=80"
      alt="Funny kitty"
    /></a>
  <h1>click the image to return home</h1>

</div>