<form action="/signup" method="post">

  <h2>Sing Up</h2>

  <input type="text" name="username" placeholder="Username" />
  <input type="password" name="password" placeholder="Password" />
  <button class="btn btn-submit" type="submit">Sing up</button>

</form>